<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.self.sample.mapper.CommentMapper">
    <insert id="commentInsert" parameterType="com.self.sample.domain.Comment">
        INSERT INTO comment
            (id,content,postId)
        VALUES
            (#{id},#{content},#{postId})
    </insert>

    <insert id="insertComment" parameterType="com.self.sample.domain.Comment">
        INSERT INTO Comment
            (content, postId)
        VALUES
            (#{content}, #{id})
    </insert>

    <select id="selectCommentsByPostId" parameterType="Long" resultType="com.self.sample.domain.Comment">
        SELECT *
        FROM Comment
        WHERE
            postId = #{postId}
    </select>

</mapper>